extends base.pug

block content
		form(action="/multiplicationform")
			input(type="number", name="first")
			input(type="number", name="second")
			input(type="submit", name="multiply", value = "multiply")